.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}

.full-page-container {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 600rem !important;

  /* width: 100vw; */
  margin: 0 auto;
  /* z-index: -10;
  position: absolute;
  width: 100%;
  top: 0;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
}

#particles-js canvas {
  display: block;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
  background-color: #1a1a1a;
}
