.divider {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.divider:before {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #8d8d8d;
  margin: auto 10px auto 0px;
}

.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #8d8d8d;
  margin: auto 0px auto 10px;
}

.overlay {
  z-index: 10;
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 0) 66%,
    rgba(0, 0, 0, 1) 100%
  );
  pointer-events: none;
}
