/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.accordion:focus {
  outline: 0;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: 0.8rem;
  transition: transform 0.4s ease;
  transform: rotate(-90deg);
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(0deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  overflow: hidden;
  transition: max-height 0.4s ease;
  line-height: 130%;
  background-color: #1a1a1a;
}

.accordion__h2 {
  line-height: 130%;
  background-color: #1a1a1a;
}

.accordion__text {
  width: 65%;
}

/* Styling Constellation Icons */

.icon_br {
  top: 4rem;
  right: 0rem;
  transform: rotate(-8deg);
}

.icon_bl {
  top: 4rem;
  left: 0rem;
  transform: rotate(8deg);
}
