@font-face {
  font-family: "Moon-Light";
  src: local("Moon-Light"), url(./fonts/Moon-Light.otf) format("opentype");
}

@font-face {
  font-family: "Merriweather-Light";
  src: local("Merriweather-Light"),
    url(./fonts/Merriweather-Light.ttf) format("truetype");
}

h1 {
  font-family: "Moon-Light", sans-serif;
  font-size: 2.25rem;
  -webkit-text-stroke: 1px white;
  color: white;
  margin: 0px;
}

h2 {
  font-family: "Merriweather-Light", sans-serif;
  font-size: 1.125rem;
  margin: 0px;
  color: white;
}

p {
  font-family: "Merriweather-Light", sans-serif;
  font-size: 0.875rem;
  margin: 0px;
}

.background {
  background-color: #1a1a1a;
}

.divider {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #8d8d8d;
  margin: auto 10px auto 10px;
}

.full-page-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw; /*otherwise div defaults to page width*/
  margin: 0 auto; /*horizontally centers div*/
}
